.request-proposal_container {
    background-color: $primary-color;
    border-radius: 43px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/footer-mask-min.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    .request-proposal_content {
        position: relative;
        z-index: 3;
        .subtitle {
            font-size: 1rem;
        }
        .title {
            font-size: 1.5rem;
            line-height: 40px;
        }
    }

    @media screen and (max-width: 767px) {
        border-radius: 22px;
        .request-proposal_content{
            .subtitle {
                font-size: 10px;
            }
            .title {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
