// Utilities

.fw-medium {
    font-family: "gilroy-med", sans-serif !important;
}
.fw-semibold {
    font-family: "gilroy-semibold", sans-serif !important;
}
.fw-bold {
    font-family: "gilroy-bold", sans-serif !important;
}

.fs-7 {
    font-size: 14px;
}

.fs-8 {
    font-size: 12px;
}

.fs-9 {
    font-size: 10px;
}

.cl-light{
    color: $text-light;
}
@media screen and (max-width: 767px) {
    .fs-5.fs-responsive {
        font-size: 1rem !important;
    }

    .fs-6.fs-responsive {
        font-size: 14px !important;
    }

    .fs-7 {
        font-size: 12px;
    }

    .fs-8 {
        font-size: 10px;
    }

    .fs-9 {
        font-size: 9px;
    }

    .fs-9 {
        font-size: 10px;
    }
}
.cl-primary {
    color: $primary-color;
}
