// navbar
.navContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    padding: 1rem 2rem;
    width: 100%;
    height: 100px;
    z-index: 99;
    @include ease;
    &.dark-nav {
        background-color: $text-color;
    }
}

.navScroll {
    box-shadow: 2px 0px 50px rgba(102, 127, 168, 0.164);
    background: #000000ee;
    backdrop-filter: blur(2px);
    height: 80px;
}

.navContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksContainer {
    ul.links {
        display: flex;
    }
    color: $text-color;
    padding-left: 2rem;
    width: 80%;
    margin: 0;
    li {
        margin: 0 1rem;
        @include ease;
    }
}

.linksContainer {
    justify-content: space-between;
    width: 100%;

    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        background: #000000ee;
        backdrop-filter: blur(2px);

        ul.links {
            flex-direction: column;
            align-items: center;
        }
        min-height: 100vh;
        right: 0;
        position: fixed;
        top: 0;
        z-index: 8;
        @include ease;
        align-items: center;
        transform: translateX(-100%) translateY(-100%);
        [dir="rtl"] & {
            transform: translateX(100%) translateY(-100%);
        }
        &.open-nav {
            transform: translateY(0%);
            ul.links li {
                margin: 0.5rem 0;
            }
        }
    }
}

.navLink {
    font-weight: 500;
    color: #fff;
    position: relative;
    line-height: 33px;
    @include ease;
    @include customLine;
    &:after {
        background-color: $primary-color;
    }
}

.logo {
    img {
        width: 120px;
    }
    @media (max-width: 991px) {
        position: fixed;
        left: 4.5rem;
        top: 1.2rem;
        z-index: 99;

        img {
            width: 90px;
            height: 45px;
        }
    }
    @media (max-width: 400px) {
        left: 4rem;
        width: auto;
    }
    [dir="rtl"] & {
        @media (max-width: 991px) {
            right: 4.5rem;
            left: auto;
        }
        @media (max-width: 400px) {
            right: 4rem;
            left: auto;
        }
    }
}

.contact-us_mob {
    right: 1.4rem;
    top: 1.3rem;
    position: fixed;
    z-index: 5;
    .main-btn {
        min-height: 40px;
    }
    [dir="rtl"] & {
        left: 1.4rem;
        right: auto;
    }
}

// style on mobile
.menuBtn {
    display: none; /////////////////
    position: fixed;
    left: 1.4rem;
    top: 2rem;
    cursor: pointer;
    z-index: 9;
    @include ease;

    @media (max-width: 991px) {
        display: block;
    }
    @media (max-width: 370px) {
        left: 0.85rem;
    }

    [dir="rtl"] & {
        right:1.4rem;
        left: auto;

        @media (max-width: 370px) {
            right: 0.85rem;
            left: auto;
        }
    }
}

.btnLine {
    height: 3px;
    margin: 0 0 0.4rem 0;
    border-radius: 6px;
    background: #fff;
    @include ease;

    &:nth-child(1) {
        width: 1.5rem;
    }

    &:nth-child(2) {
        width: 1.9rem;
    }

    &:nth-child(3) {
        width: 1rem;
    }
}
.closeMenu {
    // rotate LINE 1
    & :nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        width: 1.9rem;
    }
    // hide LINE 2
    & :nth-child(2) {
        opacity: 0;
        transform: translateX(20px);
    }
    // rotate LINE 3
    & :nth-child(3) {
        transform: rotate(-45deg) translate(9px, -9px);
        width: 1.9rem;
    }
}

/* style toTop btn */
.to-top {
    background: #000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translateX(70px);
    z-index: 999;
    box-shadow: 1px 1px 2px #eeeeee23;
}

.to-top .icon {
    transition: all 0.8s ease;
}

.to-top.showToTopBtn {
    display: flex;
    transition: all 0.2s ease;
    transform: translateX(0px);
}

.to-top.showToTopBtn:hover {
    transform: translateY(-6px);
}

.to-top.showToTopBtn:hover .icon {
    transform: translateY(-3px) scale(1.1);
}
