// Base -reset

*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $text-color;
  font-family: 'Prompt', sans-serif !important;
  [dir="rtl"] &{
    text-align: right;
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
  }
}

* {
  scrollbar-color: $primary-color #707070;
  scrollbar-width: thin;
  color: $text-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


input,
textarea,
select {
  border: none;
  outline: none;
  overflow: auto;
}

/* style scrollbar */
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.2em;
  scroll-margin: 1em 0.5em 1em 1em;
  margin: 0 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 34px;
  background: $primary-color;
  background-clip: padding-box;
}
