// Base -reset
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $text-color;
  font-family: "gilroy-reg", sans-serif !important;
}

* {
  scrollbar-color: $primary-color #707070;
  scrollbar-width: thin;
  color: $text-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// img {
//   width: 100%;
//   height: auto;
// }

input,
textarea,
select {
  border: none;
  outline: none;
  overflow: auto;
}

/* style scrollbar */
::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
  scroll-margin: 1em 0.5em 1em 1em;
  margin: 0 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 34px;
  background: $primary-color;
  background-clip: padding-box;
}
