.about-page {
    .main-hero {
        min-height: 75vh;
    }
    .main-hero_content {
        margin-bottom: -150px;
        .subtitle {
            color: rgba(255, 255, 255, 0.78);
        }
        .about-img {
            height: 400px;
            border-radius: 30px;
            object-fit: cover;
            transform: translateY(30px);
        }
    }

    // style mission-method_container
    .mission-method_container {
        padding: 10rem 0 3rem;
        img {
            object-fit: contain;
        }
    }

    @media screen and (max-width: 991px) {
        .main-hero {
            min-height: 56vh;
            .main-hero_content {
                margin-bottom: -50px;
                .about-img {
                    height: 250px;
                    border-radius: 20px;
                    transform: translateY(30px);
                }
            }
        }

        // style mission-method_container
        .mission-method_container {
            padding: 6rem 0 2rem;
        }
    }

    // Style Our core values
    .core-values_container {
        background-color: #000;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            inset: auto 0 0 auto;
            background-image: url("../../../public/assets/images/tech-shape.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 1;
        }
        .core-values_title {
            @include customLine;
            width: max-content;
            cursor: default;
            &:after {
                width: 30%;
                transform: scaleX(100%);
                margin: auto;
                inset: auto 0 -16px 0;
                height: 4px;
                border-radius: 4px;
                background-color: $primary-color;
            }
        }
        .core-values_title,
        .core-values_card {
            position: relative;
            z-index: 3;
        }
        .core-values_card {
            .icon-container {
                width: 92px;
                height: 92px;
                background-color: $primary-color;
                border-radius: 16px;
                position: relative;
                @include ease;
                transform: translateX(-8px);
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    border-radius: 16px;
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    @include ease;
                }
                &::after {
                    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.51), hsla(0, 0%, 0%, 0.1));
                    transform-origin: left;
                }

                &::before {
                    background: $primary-color;
                    transform: translateX(20px) rotate(20deg);
                }
                img {
                    position: relative;
                    z-index: 2;
                }
            }
            .core-values_cardTitle,
            p,
            img {
                @include ease;
            }
            .core-values_cardTitle {
                font-size: 22px;
            }
            .core-values_cardText {
                font-size: 18px;
            }
            &:hover {
                .icon-container {
                    transform: translateX(0);
                    &::before {
                        transform: rotate(0);
                    }
                    &::after {
                        transform: scaleX(0);
                    }
                }

                img {
                    transform: scale(1.1) rotate(-8deg);
                }
                .core-values_cardTitle {
                    color: $primary-color !important;
                }
                p {
                    opacity: 0.9;
                }
            }
        }
        @media screen and (max-width: 991px) {
            &::after {
                background-image: url("../../../public/assets/images/core-values-bg.png");
                inset: 0;
            }
            .core-values_card {
                .icon-container {
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                    &::after,
                    &::before {
                        border-radius: 10px;
                    }

                    &::before {
                        transform: translateX(14px) rotate(14deg);
                    }
                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .core-values_cardTitle {
                    font-size: 14px;
                }
                .core-values_cardText {
                    font-size: 10px;
                }
            }
        }
    }
}
