.apply-job_page{
    .job-desc{
        .title{
            font-size: 1.5rem;
        }
        .desc{
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media screen and (max-width: 991px) {
        .job-desc{
            .title{
                font-size: .75rem;
            }
            .desc{
                font-size: 12px;
                line-height: 24px;
            }
        }
    }
}