.home-page {
    .hero {
        min-height: 100vh;
        background-color: #010101;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../../../public/assets/images/hero-bg.png");
            background-position: center;
            background-size: cover;
            inset: 0 0 0 auto;
            width: 100%;
            height: 100%;
        }
        .hero-content {
            position: relative;
            z-index: 5;
            .hero-title {
                font-size: 4rem;
            }
            .subtitle {
                color: #d9d9d9a1;
            }
        }
        .view-more {
            position: relative;
            z-index: 3;
        }

        @media screen and (max-width: 767px) {
            .hero-content {
                .hero-title {
                    font-size: 28px;
                }
                .hero-desc{
                    width: 85% !important;
                }
                
            }
        }
        .slider-container {
            .slick-list {
                position: relative;
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 200px;
                    height: 100%;
                }

                &::after {
                    background: linear-gradient(90deg, #010101 8%, rgba(0, 0, 0, 0) 100%);
                    inset: 0 auto 0 0;
                }

                &::before {
                    inset: 0 0 0 auto;
                    background: linear-gradient(270deg, #010101 8%, rgba(0, 0, 0, 0) 100%);
                }
            }
            .slick-track {
                display: flex;
                align-items: center;
            }
            button {
                display: none !important;
            }
            img {
                object-fit: contain;
                width: 90px;
            }
        }
    }

    // about
    .about {
        .about-img {
            position: relative;
            img {
                width: 90%;
                height: 90%;
            }
            .icon {
                position: absolute;
                &.one {
                    right: 0;
                    top: 0;
                    // animation: translate1  2s ease 2s infinite normal;
                }

                &.two {
                    left: 0;
                    bottom: -1.5rem;
                }
            }

            @media screen and (min-width: 991px) {
                width: 90%;
            }
        }
        .about-content{
            .achievements{
                .title{
                    font-size: 2rem;
                }
                .subtitle{
                    font-size: 1.25rem;
                }
            }
        }
        @media screen and (max-width: 767px) {
            .about-content{
                .achievements{
                    .title{
                        font-size: .9rem;
                    }
                    .subtitle{
                        font-size: .7rem;
                    }
                }
            }
        }
    }

    // style about-dev
    .about-dev {
        .about-dev_card {
            position: relative;
            box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
            border: 2px solid #e6ddfe;
            border-radius: 24px;
            height: 376px;
            @include ease;
            .about-dev_cardContent {
                border-bottom: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                position: relative;
                z-index: 5;
                background-color: white;
                overflow: hidden;
                border-radius: 24px;
                height: 100%;
                @include ease;
            }
            &::after {
                content: "";
                position: absolute;
                background: linear-gradient(180deg, #e6ddfe -4.86%, white 100%);
                width: calc(100% + 4px);
                height: 70%;
                inset: auto -2px -3px;
                z-index: 1;
                border-radius: 24px;
            }

            //
            .icon-container {
                width: 80px;
                height: 80px;
                border-radius: 24px;
                background-color: rgba(1, 1, 1, 0.08);
                @include ease;
                .icon-wrapper {
                    width: 50px;
                    height: 50px;
                    background-color: $text-color;
                    @include ease;
                }
            }
            .header,
            .text,
            .svg path {
                @include ease;
            }
            &::before {
                content: "";
                position: absolute;
                background: #010101;
                width: 100%;
                height: 100%;
                inset: 0;
                z-index: 3;
                @include ease;
                border-radius: 24px;
                transform: scaleY(0);
                opacity: 0;
                transform-origin: top;
            }
            &:hover {
                border-color: #fff;
                &::before {
                    transform: scaleY(1);
                    opacity: 1;
                    transform-origin: bottom;
                }
                .icon-container {
                    background-color: #252525;
                    .icon-wrapper {
                        background-color: white;
                    }
                }
                .header,
                .text {
                    color: #fff !important;
                }
                svg path {
                    fill: $text-color;
                }
                .about-dev_cardContent {
                    background-color: transparent;
                }
            }
        }

        @media screen and (max-width: 991px) {
            .about-dev_card {
                height: auto;
                &::after {
                    width: calc(100% + 4px);
                    inset: auto -2px -5px;
                }
            }
        }
    }

    // Style Works sec
    .our-works {
        background-color: #000000;
        .projects-container,
        .technologies-container {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 1;
            }
        }

        .projects-container,
        .technologies-container {
            position: relative;
            &::after {
                inset: 0 auto 0;
                background-image: url("../../../public/assets/images/works-shape1.png");
            }
            .technologies-content{
                position: relative;
                z-index: 3;
            }
        }

        .our-works_card {
            background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
            box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
            @include ease;
            position: relative;
            z-index: 2;
            &:hover {
                box-shadow: 0px 20px 40px 0px rgba(230, 221, 254, 0.1) inset;
            }
        }
        .our-works_card,
        .project-img {
            border-radius: 24px;
        }
        .our-works_cardContent {
            padding: 2rem 4rem;
        }

        .technologies-container {
            &::after {
                inset: auto 0 0 auto;
                background-image: url("../../../public/assets/images/tech-shape.png");
            }
            img {
                object-fit: contain;
                width: 100%;
                z-index: 2;
                position: relative;
                @media screen and (min-width: 768px) {
                    width: 80%;
                    margin-bottom: 1rem;
                }
            }
        }

        @media screen and (max-width: 990px) {
            .our-works_card,
            .project-img {
                border-radius: 18px;
            }
            .our-works_cardContent {
                padding: 2rem 0 0;
            }
        }
    }
}

@keyframes translate1 {
    0% {
        transform: translateX(20px) scale(1.05);
    }

    70% {
        transform: translateX(10px) scale(1.03);
    }

    88% {
        transform: translateX(0) scale(1);
    }
}
