footer {
    color: #030104;
    a {
        @include ease;
    }
    .footer-links {
        .footer-title,
        a {
            color: #030104;
        }
        a:not(.email) {
            &:hover {
                border-inline-start: 1px solid currentColor;
                color: $primary-color;
                padding-inline-start: 0.45rem;
            }
        }
        a.email {
            &:hover {
                color: $primary-color;
                letter-spacing: 0.1rem;
                text-decoration: line-through !important;
            }
        }
    }

    form {
        position: relative;
        height: 55px;
        input {
            border: 2px solid #d9d9d9;
            border-radius: 6px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #bfc4c8;
                font-size: 1rem;
                font-weight: 600;
            }
        }
        button {
            position: absolute !important;
            right: 0;
            img {
                @include ease;
            }
            &:hover {
                background-color: $text-color;
                img {
                    transform: translate(10px, -5px);
                }
            }
        }
        [dir="rtl"] & {
            button {
                left: 0;
                right: auto;
            }
        }
    }

    .social {
        svg,
        path,
        li {
            @include ease;
        }
        li {
            a {
                width: 40px;
                height: 40px;
                background-color: rgba(1, 1, 1, 0.1);
                svg {
                    width: 20px;
                }
            }
            &:hover {
                a {
                    background-color: $primary-color;
                    svg {
                        transform: translateY(-2px) scale(1.1);
                    }
                }
            }
        }
    }

    // footer-bottom
    .footer-bottom {
        border-top: 1px solid #8d939ad2;
        p{
            font-size: 14px;
        }
    }
    .footer-mobile {
        display: none;
    }
    // small screens{
    @media screen and (max-width: 991px) {
        .social {
            li {
                a {
                    width: 24px;
                    height: 24px;
                    background-color: rgba(1, 1, 1, 0.1);
                    svg {
                        width: 12px;
                    }
                }
            }
        }
        .footer-bottom {
            p{
                font-size: 10px;
            }
        }
        .footer-desktop {
            display: none;
        }
        .footer-mobile {
            display: block;
        }
        .accordion-item,
        .accordion-button,
        .accordion-button:not(.collapsed) {
            background-color: transparent;
            border: none;
        }

        .accordion-button:not(.collapsed) {
            color: $text-color !important;
        }
        .accordion-item {
            padding: 0.75rem 0;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                inset: auto 0 0;
                height: 1px;
                background: linear-gradient(
                    to right,
                    hsla(227, 35%, 76%, 0.2),
                    hsla(227, 35%, 76%, 0.2),
                    hsla(227, 35%, 76%, 0.2)
                );
            }
            ul li {
                &:first-child {
                    margin-top: 0.5rem;
                }
            }
        }
        .accordion-button {
            box-shadow: none;
            padding: 0;
            &:focus {
                box-shadow: none;
            }
        }
        .accordion-body {
            padding: 0;
        }
    }
}
