// navbar
.navContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background: #011C27;
    top: 0;
    padding: 1rem 2rem;
    width: 100%;
    height: 100px;
    z-index: 99;
    @include ease;
}

.navScroll {
    box-shadow: 2px 0px 50px rgba(102, 127, 168, 0.164);
    background: #000000ee;
    backdrop-filter: blur(2px);
}

.navContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksContainer {
    ul.links {
        display: flex;
    }
    color: $text-color;
    padding-left: 2rem;
    width: 80%;
    margin: 0;
    li {
        margin: 0 1rem;
        @include ease;
    }
}

.linksContainer {
    justify-content: space-between;
    width: 100%;

    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        background: #000000ee;
        backdrop-filter: blur(2px);

        ul.links {
            flex-direction: column;
            align-items: center;
        }
        min-height: 100vh;
        right: 0;
        position: fixed;
        top: 0;
        z-index: 8;
        @include ease;
        align-items: center;
        transform: translateX(100%) translateY(-100%);
        &.open-nav {
            transform: translateY(0%);
            ul.links li {
                margin: 1rem 0;
            }
        }
    }
}

.navLink {
    font-weight: 500;
    color: #fff;
    position: relative;
    line-height: 33px;
    @include ease;
    @include customLine;
}

.logo {
    img {
        width: 120px;
    }

    @media (max-width: 991px) {
        position: fixed;
        left: 2.1rem;
        top: 1.5rem;
        z-index: 99;

        img {
            width: 100px;
        }
    }
    @media (max-width: 400px) {
        left: 1rem;
        width: auto;
    }
}

// style on mobile
.menuBtn {
    display: none; /////////////////
    position: absolute;
    position: fixed;
    right: 2.1rem;
    top: 2.2rem;
    cursor: pointer;
    z-index: 9;
    @include ease;
    //   [dir = rtl] & {
    //     left: 2.1rem;
    //     right: auto;
    //  }
    @media (max-width: 991px) {
        display: block;
    }
    @media (max-width: 370px) {
        right: 1rem;
    }
}
.closeMenu {
    // rotate LINE 1
    & :nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    // hide LINE 2
    & :nth-child(2) {
        opacity: 0;
        transform: translateX(20px);
    }
    // rotate LINE 3
    & :nth-child(3) {
        transform: rotate(-45deg) translate(11px, -11px);
    }
}
.btnLine {
    width: 1.9rem;
    height: 0.3rem;
    margin: 0 0 0.4rem 0;
    border-radius: 6px;
    background: #fff;
    @include ease;
}
