// Fonts

// EN
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;500;600&family=Open+Sans:wght@400;500;600&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600&family=Source+Sans+Pro:wght@400;600;700&family=Ubuntu:wght@400;500;700&display=swap');


// AR
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Cairo:wght@400;500;600&family=Harmattan:wght@400;700&family=IBM+Plex+Sans+Arabic:wght@400;500;600&family=Noto+Naskh+Arabic:wght@400;500;600&family=Tajawal:wght@400;500;700&family=Vazirmatn:wght@400;500;600&display=swap');