.input-container {
    input,input.main-input,
    textarea {
        color: $text-color;
        border: 1px solid #d9d9d9;
        border-radius: 12px;
        @include ease;
        &::placeholder {
            font-size: 15px;
            color: $text-light;
        }
        &:focus {
            border-color: $text-color;
        }
    }
    input, input.main-input {
        height: 52px;
    }
    .form-check-input[type="checkbox"] {
        border: 1px solid #d9d9d9;
        border-radius: 8;
        width: 24px;
        height: 24px;
        margin-inline-end: 0.5rem;
        box-shadow: none !important;
        &:checked {
            background-color: $primary-color;
        }
    }
    .form-check-label {
        color: $text-color;
        font-size: 14px;
    }

    @media screen and (max-width: 991px) {
        input,
        textarea {
            border-radius: 8px;
            &::placeholder {
                font-size: 13px;
            }
            &:focus {
                border-color: $text-color;
            }
        }
        input {
            height: 44px;
        }
    }
}
// file Uploader
.file-container {
    position: relative;
    height: 66px;
    input {
        z-index: 9;
        position: relative;
        opacity: 0;
        cursor: pointer;
        z-index: 8;
        height: 66px;
        color: $primary-color;
    }
    input:valid + .attach span {
        transform: translateY(-32px);
        background-color: white;
        padding: 0 0.2rem;
    }

    input:valid + .attach span.hent {
        transform: translateY(32px);
        background-color: white;
    }
    input:valid + .attach {
        background-color: transparent;
    }
    input:valid {
        opacity: 1;
        padding: 1rem;
    }
    .attach {
        position: absolute;
        width: 100%;
        height: 66px;
        inset: 0;
        background-color: transparent;
        border: 2px dashed #bfc4c8;
        cursor: pointer;

        .icon {
            width: 20px;
        }
        span {
            @include ease;
        }
        span.hent {
            color: #bfc4c8;
            font-size: 0.7rem;
            position: absolute;
            right: 1rem;
            @media screen and (max-width: 500px) {
                transform: translateY(32px);
                background-color: white;
                padding: 0 0.2rem;
            }
            [dir="rtl"] & {
                right: auto;
                left: 1rem;
            }
        }
    }
}

// PHONE
.react-tel-input {
    direction: ltr;
    input{
        &:focus {
            border: 1px solid #CACACA !important;
            box-shadow: none !important;
        }
    }
}
.react-tel-input .country-list {
    overflow-y: auto !important;
    text-align: left;
}
.react-tel-input .selected-flag,
.react-tel-input .flag-dropdown {
    border-radius: 12px 0 0 12px !important;
}
/* style phone-number */
a.phone-number {
    direction: ltr;
}

a {
    text-decoration: none !important;
}




// intl-tel-input
.intl-tel-input {
    width: 100%;
    input {
        width: 100%;
    }
    .country-list {
        max-width: 100% !important;
        margin: auto;
        z-index: 99999999 !important;
        font-size: 14px;
    }
}
.intl-tel-input {
    direction: ltr;

    // [dir="rtl"] & {
    //     .flag-container .arrow {
    //         margin-right: 5px;
    //         margin-left: 0;
    //     }
    // }
}

.intl-tel-input.allow-dropdown {
    // [dir="rtl"] & {
    //     input[type="tel"] {
    //         padding-right: 52px;
    //         padding-left: 6px;
    //     }
    // }
}

//
.form-check-inline {
    margin: 0 1rem;
}


//
.modal-menu span > img {
    filter: none !important;
}

// .intl-tel-input .country-list
.intl-tel-input .country-list {
    width: 100%;
    border-radius: 8px;
    // [dir="rtl"] & {
    //     text-align: right !important;
    // }
}

// NEW
.main-header {
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 16px;
        text-transform: uppercase;
    }
    @media screen and (max-width: 767px) {
        .title {
            font-size: 1.3rem;
        }
        .subtitle {
            font-size: 14px;
        }
    }
}
[dir=rtl] .arrow-icon {
    transform: scaleX(-1);
}