// Font Family


//font-weight 400
// @font-face {
//     font-family: "gilroy-reg";
//     src: url("../../../public/assets/fonts/Gilroy-Regular.ttf");
//   }
  
//   //font-weight 500
//   @font-face {
//     font-family: "gilroy-med";
//     src: url("../../../public/assets/fonts/Gilroy-Medium.ttf");
//   }
  
//   //font-weight 600
//   @font-face {
//     font-family: "gilroy-semibold";
//     src: url("../../../public/assets/fonts/Gilroy-SemiBold.ttf");
//   }
//   //font-weight 700
//   @font-face {
//     font-family: "gilroy-bold";
//     src: url("../../../public/assets/fonts/Gilroy-Bold.ttf");
//   }
  