// Variables Structure
@import "./color",
        "./font-size",
        "./breack-point",
        "./font-family";


// shared Variables
$radius-lg: 25px;
$radius-sm: 10px;
$transition: all 400ms ease;
